<div class="container">
  <% @cocktails.each do |cocktail| %>
  <h2 class="card-category cards" style="text-decoration: none">
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </h2>
  <% end %>
</div>
